.breadcrumbs {
  margin-top: 24px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;

  &__home-icon {
    display: inline-block;
    margin-bottom: 8px;
    width: 16px;
    height: 16px;
    cursor: pointer;
    margin-right: 15px;
  }

  &__arrow {
    display: inline-block;
    background-image: url(./images/arrow.svg);
    background-repeat: no-repeat;
    height: 14px;
    width: 10px;
    margin-right: 14px;
    margin-top: 2px;
  }

  &__page {
    font-weight: 600;
    font-size: 12px;
    color: #89938a;
  }
}
